<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="List" cardClass="card-datatable" headerClass="text-center text-md-left" [hidHeader]="false" [options]="false" [loading]="loadTable">
      <div class="my-3">
        <button type="button" class="btn btn-success" routerLink="/javan/add">
          <i class="fas fa-plus mr-2"></i>{{'ROOT.add' | translate}}
        </button>
      </div>
      <div class="table-responsive pb-1">
        <table datatable [dtOptions]="dtOptions" class="table table-striped row-border table-hover display compact" [dtTrigger]="dtTrigger">
          <thead class="thead-light">
            <tr>
              <th scope="col" width="10">No.</th>
              <th scope="col">{{'ROOT.name' | translate}}</th>
              <th scope="col">{{'ROOT.sex' | translate}}</th>
              <th scope="col">{{'ROOT.music' | translate}}</th>
              <th scope="col">{{'ROOT.born_date' | translate}}</th>
              <th scope="col">{{'ROOT.zip_code' | translate}}</th>
              <th scope="col">{{'ROOT.action' | translate}}</th>
            </tr>
          </thead>
          <tbody *ngIf="listUsers?.length != 0">
            <tr *ngFor=" let item of listUsers; let i=index">
              <th>{{i+1}}.</th>
              <td class="word-wrap">{{item.name}}</td>
              <td class="word-wrap">{{item.sex_update}}</td>
              <td class="word-wrap">{{item.music}}</td>
              <td class="word-wrap">{{item.born_date}}</td>
              <td class="word-wrap">{{item.zip_code}}</td>
              <td>
                <button type="button" class="btn btn-sm btn-warning mt-1 mr-1" title="{{'ROOT.edit' | translate}}" routerLink="/javan/edit/{{item.id}}"><i class="feather icon-edit"></i></button>
                <button type="button" class="btn btn-sm btn-danger mt-1 mr-1" title="{{'ROOT.delete' | translate}}"><i class="feather icon-trash"></i></button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="listUsers?.length == 0 && spinnerLoading">
            <tr>
              <td colspan="6" class="no-data-available text-center">
                <img src='assets/images/infinity-situ.svg'>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>

<app-ui-modal #modalTambah [containerClick]="false" [dialogClass]="'modal-dialog-centered modal-xl'" [loading]="loadingForm">
  <div class="app-modal-header">
    <h5 class="modal-title">{{'ROOT.form_add_data_template' | translate}}</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalTambah.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="formDataTemplate" class="md-float-material form-material" action="javascript:">
      <div class="form-group">
        <label for="name">{{'ROOT.template_name' | translate}} <b class="text-danger">*</b></label>
        <input type="text" class="form-control" formControlName="name" id="name" maxlength="100" placeholder="{{'ROOT.enter_template_name' | translate}}" [ngClass]="formDataTemplate.controls.name.invalid && (formDataTemplate.controls.name.dirty || formDataTemplate.controls.name.touched) ? 'is-invalid' :(formDataTemplate.controls.name.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : formDataTemplate.controls.name.invalid && (formDataTemplate.controls.name.dirty || formDataTemplate.controls.name.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.template_name' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="modalTambah.hide()">
      <i class="fas fa-undo mr-2" aria-hidden="true"></i>{{'ROOT.back' | translate}}
    </button>
    <button type="button" class="btn btn-success" [disabled]="formDataTemplate.get('name').invalid || formDataTemplate.get('description').invalid || formDataTemplate.get('jumlahposition').invalid || formDataTemplate.get('penomoranSurat').invalid || formDataTemplate.get('disseminator').invalid">
      <i class="fas fa-save mr-2" aria-hidden="true"></i>{{'ROOT.save' | translate}}
    </button>
  </div>
</app-ui-modal>

<app-ui-modal #modalEdit [containerClick]="false" [dialogClass]="'modal-dialog-centered modal-xl'" [loading]="loadingForm">
  <div class="app-modal-header">
    <h5 class="modal-title">{{'ROOT.form_edit_data_template' | translate}}</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalEdit.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="formDataTemplate" class="md-float-material form-material" action="javascript:">
      <input type="hidden" class="form-control" formControlName="id" id="id" required>
      <div class="form-group">
        <label for="name">{{'ROOT.template_name' | translate}} <b class="text-danger">*</b></label>
        <input type="text" class="form-control" formControlName="name" id="name" maxlength="100" placeholder="{{'ROOT.enter_template_name' | translate}}" [ngClass]="formDataTemplate.controls.name.invalid && (formDataTemplate.controls.name.dirty || formDataTemplate.controls.name.touched) ? 'is-invalid' :(formDataTemplate.controls.name.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : formDataTemplate.controls.name.invalid && (formDataTemplate.controls.name.dirty || formDataTemplate.controls.name.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.template_name' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="modalEdit.hide()">
      <i class="fas fa-undo mr-2" aria-hidden="true"></i>{{'ROOT.back' | translate}}
    </button>
    <button type="button" class="btn btn-warning" [disabled]="formDataTemplate.get('name').invalid || formDataTemplate.get('description').invalid || formDataTemplate.get('jumlahposition').invalid || formDataTemplate.get('penomoranSurat').invalid || formDataTemplate.get('disseminator').invalid">
      <i class="fas fa-edit mr-2" aria-hidden="true"></i>{{'ROOT.edit' | translate}}
    </button>
  </div>
</app-ui-modal>

<app-ui-modal #modalLihatReviewer [containerClick]="true" [dialogClass]="'modal-dialog-centered modal-xl'" [loading]="loadingForm">
  <div class="app-modal-header">
    <h5 class="modal-title">{{'ROOT.reviewers' | translate}}</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalLihatReviewer.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <p class="col-2 font-weight-bold">• {{'ROOT.template_name' | translate}}</p>
      <p class="col-10">: {{modelLihatReviewer[0]?.name}}</p>
    </div>
    <div class="row">
      <p class="col-2 font-weight-bold">• {{'ROOT.description' | translate}}</p>
      <p class="col-10">: {{modelLihatReviewer[0]?.description}}</p>
    </div>
    <div class="row">
      <p class="col-2 font-weight-bold">• {{'ROOT.status' | translate}}</p>
      <p class="col-10">:
        <label class="badge badge-success" *ngIf="!modelLihatReviewer[0]?.status">
          {{'ROOT.aktif' | translate}}
        </label>
        <label class="badge badge-danger" *ngIf="modelLihatReviewer[0]?.status">
          {{'ROOT.nonaktif' | translate}}
        </label>
      </p>
    </div>
    <div>
      <div class="row">
        <p class="col-2 font-weight-bold">• {{'ROOT.reviewer_flow' | translate}}</p>
        <p class="col-10">:</p>
      </div>
      <div class="row" *ngFor="let item of listLihatReviewer; let i = index">
        <p class="col-2 pl-4">{{i + 1}}. {{item.description | titlecase}}</p>
        <p class="col-10" *ngIf="item.position_id">
          → {{item.position_name}} <a href="javascript:">({{item.employee_name}})</a>
        </p>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalLihatReviewer.hide()">
      <i class="fas fa-undo mr-2" aria-hidden="true"></i>{{'ROOT.back' | translate}}
    </button>
  </div>
</app-ui-modal>