<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="{{'ROOT.table_master_data_external_partner' | translate}}" cardClass="card-datatable" headerClass="text-center text-md-left" [hidHeader]="false" [options]="false" [loading]="loadTable">
      <app-alert type="warning">*{{'ROOT.make_sure_external_partner_is_active_when_you_want_to_edit_external_partner' | translate}}</app-alert>

      <div>
        <button type="button" class="btn btn-info" (click)="openFilter()" [disabled]="dataMitraExternal?.length == 0 && spinnerLoading">
          <div *ngIf="!filter">
            <i class="fas fa-eye mr-2"></i>{{'ROOT.open_filter' | translate}}
          </div>
          <div *ngIf="filter">
            <i class="fas fa-eye-slash mr-2"></i>{{'ROOT.close_filter' | translate}}
          </div>
        </button>
        <form [formGroup]="formFilter" class="md-float-material form-material" action="javascript:" *ngIf="filter">
          <br>
          <div class="form-group row">
            <div class="col">
              <label for="company_name">{{'ROOT.company_partner_name' | translate}}</label>
              <input type="text" class="form-control" formControlName="company_name" id="company_name" placeholder="{{'ROOT.enter_company_partner_name' | translate}}" required>
            </div>
            <div class="col">
              <label for="contact">{{'ROOT.contact_name' | translate}}</label>
              <input type="text" class="form-control" formControlName="contact" id="contact" placeholder="{{'ROOT.enter_contact_name' | translate}}" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label for="contact_position_name">{{'ROOT.contact_position_name' | translate}}</label>
              <input type="text" class="form-control" formControlName="contact_position_name" id="contact_position_name" placeholder="{{'ROOT.enter_contact_position_name' | translate}}" required>
            </div>
            <div class="col">
              <label for="address">{{'ROOT.address' | translate}}</label>
              <input class="form-control" formControlName="address" id="address" placeholder="{{'ROOT.enter_address' | translate}}" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label for="country">{{'ROOT.country' | translate}}</label>
              <ng-select formControlName="country" id="country" [options]="listCountry" placeholder="--- {{'ROOT.select_option' | translate}} ---" filterPlaceholder="{{'ROOT.cari_disini' | translate}}" (selected)="getDataProvince()" required></ng-select>
            </div>
            <div class="col">
              <label for="province">{{'ROOT.province' | translate}}</label>
              <ng-select formControlName="province" id="province" [options]="listProvince" placeholder="--- {{'ROOT.select_option' | translate}} ---" filterPlaceholder="{{'ROOT.cari_disini' | translate}}" [notFoundMsg]="'ROOT.Silakan_pilih_Negara_terlebih_dahulu'|translate" (selected)="getDataCity()" required></ng-select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label for="city">{{'ROOT.city' | translate}}</label>
              <ng-select formControlName="city" id="city" [options]="listCity" placeholder="--- {{'ROOT.select_option' | translate}} ---" filterPlaceholder="{{'ROOT.cari_disini' | translate}}" [notFoundMsg]="'ROOT.Silakan_pilih_Provinsi_terlebih_dahulu'|translate" required></ng-select>
            </div>
            <div class="col">
              <label for="law_status">{{'ROOT.company_type' | translate}}</label>
              <ng-select formControlName="law_status" id="law_status" [options]="listDataLawStatus" placeholder="--- {{'ROOT.select_option' | translate}} ---" filterPlaceholder="{{'ROOT.cari_disini' | translate}}" required></ng-select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label for="email">{{'ROOT.email' | translate}}</label>
              <input type="email" class="form-control" formControlName="email" id="email" (keyup)="checkEmail()" placeholder="{{'ROOT.enter_email' | translate}}" required>
            </div>
            <div class="col">
              <label for="phone">{{'ROOT.telephone_number' | translate}}</label>
              <input type="tel" class="form-control col-sm-5" formControlName="phone" id="phone" placeholder="{{'ROOT.enter_telephone_number' | translate}}" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label for="status">{{'ROOT.status' | translate}}</label>
              <ng-select formControlName="status" id="status" [options]="listStatus" placeholder="--- {{'ROOT.select_option' | translate}} ---" filterPlaceholder="{{'ROOT.cari_disini' | translate}}" required></ng-select>
            </div>
            <div class="col">
            </div>
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-warning mt-2 mr-2" (click)="filterData()" [disabled]="dataMitraExternal?.length == 0 && spinnerLoading">
              <i class="fa fa-search mr-2"></i>{{'ROOT.filter' | translate}}
            </button>
            <button type="button" class="btn btn-danger mt-2 mr-2" (click)="cleanFilter()" [disabled]="dataMitraExternal?.length == 0 && spinnerLoading">
              <i class="fas fa-eraser mr-2"></i>{{'ROOT.clean_filter' | translate}}
            </button>
          </div>
        </form>
      </div>

      <div class="float-right mt-3 mb-3">
        <button type="button" class="btn btn-success" (click)="openFormSave()" [disabled]="dataMitraExternal?.length == 0 && spinnerLoading">
          <i class="fas fa-plus mr-2"></i>{{'ROOT.add_external_partner' | translate}}
        </button>
      </div>
      <div class="table-responsive pb-1">
        <table datatable [dtOptions]="dtOptions" class="table table-striped row-border table-hover display compact" [dtTrigger]="dtTrigger">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="pl-1" width="10">No.</th>
              <th scope="col" class="pl-1">{{'ROOT.company_partner_name' | translate}}</th>
              <th scope="col" class="pl-1" width="200">{{'ROOT.contact_name' | translate}}</th>
              <th scope="col" class="pl-1" width="200">{{'ROOT.contact_position_name' | translate}}</th>
              <th scope="col" class="pl-1" width="400">{{'ROOT.address' | translate}}</th>
              <th scope="col" class="pl-1" width="200">{{'ROOT.country' | translate}}</th>
              <th scope="col" class="pl-1" width="200">{{'ROOT.province' | translate}}</th>
              <th scope="col" class="pl-1" width="200">{{'ROOT.city' | translate}}</th>
              <th scope="col" class="pl-1" width="200">{{'ROOT.telephone_number' | translate}}</th>
              <th scope="col" class="pl-1" width="300">{{'ROOT.email' | translate}}</th>
              <th scope="col" class="pl-1">{{'ROOT.company_type' | translate}}</th>
              <th scope="col" class="pl-1">{{'ROOT.status' | translate}}</th>
              <th scope="col" class="pl-1">{{'ROOT.action' | translate}}</th>
            </tr>
          </thead>
          <tbody *ngIf="dataMitraExternal?.length != 0">
            <tr [ngClass]="{'table-danger' : item.deleted_at}" *ngFor="let item of dataMitraExternal; let i = index;">
              <th>{{i+1}}.</th>
              <td class="word-wrap">{{item.company_name}}</td>
              <td class="word-wrap">{{item.contact}}</td>
              <td class="word-wrap">
                <div *ngIf="item.contact_position_name">{{item.contact_position_name}}</div>
              </td>
              <td class="word-wrap">{{item.address}}</td>
              <td class="word-wrap">
                <div *ngIf="item.countryid">{{item.country.detail_name | titlecase}}</div>
              </td>
              <td class="word-wrap">
                <div *ngIf="item.provinceid">{{item.province.detail_name | titlecase}}</div>
                <div *ngIf="!item.provinceid">-</div>
              </td>
              <td class="word-wrap">
                <div *ngIf="item.cityregionid">{{item.city.detail_name | titlecase}}</div>
                <div *ngIf="!item.cityregionid">-</div>
              </td>
              <td class="word-wrap">
                <div *ngIf="item.phone">{{item.phone}}</div>
                <div *ngIf="!item.phone">-</div>
              </td>
              <td class="word-wrap">
                <div *ngIf="item.email">{{item.email | lowercase}}</div>
                <div *ngIf="!item.email">-</div>
              </td>
              <td class="word-wrap">{{item.law_status.name}}</td>
              <td class="word-wrap">
                <label class="badge badge-success" *ngIf="!item.deleted_at">
                  {{'ROOT.aktif' | translate}}
                </label>
                <label class="badge badge-danger" *ngIf="item.deleted_at">
                  {{'ROOT.nonaktif' | translate}}
                </label>
              </td>
              <td>
                <button title="{{'ROOT.edit_external_partner' | translate}}" (click)="openFormEdit(item)" class="btn btn-icon btn-rounded btn-outline-warning mr-1" *ngIf="!item.deleted_at">
                  <i class="fas fa-edit"></i>
                </button>
                <button title="{{'ROOT.activate_external_partner' | translate}}" (click)="activateMitraExternal(item.id, item.company_name, item.contact)" class="btn btn-icon btn-rounded btn-outline-success" *ngIf="!item.is_used && item.deleted_at">
                  <i class="fas fa-check"></i>
                </button>
                <button title="{{'ROOT.deactivate_external_partner' | translate}}" (click)="deleteMitraExternal(item.id, item.company_name, item.contact)" class="btn btn-icon btn-rounded btn-outline-danger" *ngIf="!item.is_used && !item.deleted_at">
                  <i class="fas fa-ban"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="dataMitraExternal?.length == 0 && spinnerLoading">
            <tr>
              <td colspan="13" class="no-data-available text-center">
                <img src='assets/images/infinity-situ.svg'>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>

<app-ui-modal #modalTambah [containerClick]="false" [dialogClass]="'modal-dialog-centered modal-xl'" [loading]="loadingForm">
  <div class="app-modal-header">
    <h5 class="modal-title">{{'ROOT.form_add_data_external_partner' | translate}}</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalTambah.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="formDataMitraExternal" class="md-float-material form-material" action="javascript:">
      <div class="form-group">
        <label for="company_name">{{'ROOT.company_partner_name' | translate}} <b class="text-danger">*</b></label>
        <input type="text" class="form-control" formControlName="company_name" id="company_name" maxlength="100" placeholder="{{'ROOT.enter_company_partner_name' | translate}}" [ngClass]="formDataMitraExternal.controls.company_name.invalid && (formDataMitraExternal.controls.company_name.dirty || formDataMitraExternal.controls.company_name.touched) ? 'is-invalid' :(formDataMitraExternal.controls.company_name.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : formDataMitraExternal.controls.company_name.invalid && (formDataMitraExternal.controls.company_name.dirty || formDataMitraExternal.controls.company_name.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.company_partner_name' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
      <div class="form-group">
        <label for="contact">{{'ROOT.contact_name' | translate}} <b class="text-danger">*</b></label>
        <input type="text" class="form-control" formControlName="contact" id="contact" maxlength="100" onkeyup="this.value = this.value.split(/\s+/).map(s => s.charAt( 0 ).toUpperCase() + s.substring(1).toLowerCase()).join(' ')" placeholder="{{'ROOT.enter_contact_name' | translate}}" [ngClass]="formDataMitraExternal.controls.contact.invalid && (formDataMitraExternal.controls.contact.dirty || formDataMitraExternal.controls.contact.touched) ? 'is-invalid' :(formDataMitraExternal.controls.contact.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : formDataMitraExternal.controls.contact.invalid && (formDataMitraExternal.controls.contact.dirty || formDataMitraExternal.controls.contact.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.contact_name' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
      <div class="form-group">
        <label for="contact_position_name">{{'ROOT.contact_position_name' | translate}} <b class="text-danger">*</b></label>
        <input type="text" class="form-control" formControlName="contact_position_name" id="contact_position_name" maxlength="150" placeholder="{{'ROOT.enter_contact_position_name' | translate}}" [ngClass]="formDataMitraExternal.controls.contact_position_name.invalid && (formDataMitraExternal.controls.contact_position_name.dirty || formDataMitraExternal.controls.contact_position_name.touched) ? 'is-invalid' :(formDataMitraExternal.controls.contact_position_name.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : formDataMitraExternal.controls.contact_position_name.invalid && (formDataMitraExternal.controls.contact_position_name.dirty || formDataMitraExternal.controls.contact_position_name.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.contact_position_name' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
      <div class="form-group">
        <label for="address">{{'ROOT.address' | translate}} <b class="text-danger">*</b></label>
        <textarea class="form-control" formControlName="address" id="address" maxlength="255" placeholder="{{'ROOT.enter_address' | translate}}" [ngClass]="formDataMitraExternal.controls.address.invalid && (formDataMitraExternal.controls.address.dirty || formDataMitraExternal.controls.address.touched) ? 'is-invalid' :(formDataMitraExternal.controls.address.valid ? 'is-valid' : '')"></textarea>
        <label *ngIf="{'is-invalid' : formDataMitraExternal.controls.address.invalid && (formDataMitraExternal.controls.address.dirty || formDataMitraExternal.controls.address.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.address' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
      <div class="form-group">
        <label for="country">{{'ROOT.country' | translate}} <b class="text-danger">*</b></label>
        <div class="col-sm-14">
          <ng-select formControlName="country" id="country" [options]="listCountry" placeholder="--- {{'ROOT.select_option' | translate}} ---" filterPlaceholder="{{'ROOT.cari_disini' | translate}}" (selected)="getDataProvince()" required></ng-select>
        </div>
      </div>
      <div class="form-group" *ngIf="listProvince.length > 0">
        <label for="province">{{'ROOT.province' | translate}}</label>
        <div class="col-sm-14">
          <ng-select formControlName="province" id="province" [options]="listProvince" placeholder="--- {{'ROOT.select_option' | translate}} ---" filterPlaceholder="{{'ROOT.cari_disini' | translate}}" (selected)="getDataCity()" required></ng-select>
        </div>
      </div>
      <div class="form-group" *ngIf="listCity.length > 0">
        <label for="city">{{'ROOT.city' | translate}}</label>
        <div class="col-sm-14">
          <ng-select formControlName="city" id="city" [options]="listCity" placeholder="--- {{'ROOT.select_option' | translate}} ---" filterPlaceholder="{{'ROOT.cari_disini' | translate}}" required></ng-select>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">{{'ROOT.telephone_number' | translate}}</label>
        <input type="tel" class="form-control col-sm-5" formControlName="phone" id="phone" maxlength="15" placeholder="{{'ROOT.enter_telephone_number' | translate}}" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))" [ngClass]="(formDataMitraExternal.controls.phone.valid ? 'is-valid' : '')">
      </div>
      <div class="form-group">
        <label for="email">{{'ROOT.email' | translate}}</label>
        <input type="email" class="form-control col-sm-8" formControlName="email" id="email" (keyup)="checkEmail()" maxlength="100" placeholder="{{'ROOT.enter_email' | translate}}" [ngClass]="!email ? 'is-invalid' :(email && formDataMitraExternal.controls.email.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : !email}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.wrong_email_format' | translate}}</label>
      </div>
      <div class="form-group">
        <label for="law_status">{{'ROOT.company_type' | translate}} <b class="text-danger">*</b></label>
        <div class="col-sm-14">
          <ng-select formControlName="law_status" id="law_status" [options]="listDataLawStatus" placeholder="--- {{'ROOT.select_option' | translate}} ---" filterPlaceholder="{{'ROOT.cari_disini' | translate}}" required></ng-select>
          <small *ngIf="formDataMitraExternal.get('law_status').invalid && formDataMitraExternal.controls.law_status.touched" class="text-danger">{{'ROOT.company_type' | translate}} {{'ROOT.is_required' | translate}}</small>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="modalTambah.hide()">
      <i class="fas fa-undo mr-2" aria-hidden="true"></i>{{'ROOT.back' | translate}}
    </button>
    <button type="button" class="btn btn-success" [disabled]="formDataMitraExternal.get('company_name').invalid || formDataMitraExternal.get('contact').invalid || formDataMitraExternal.get('contact_position_name').invalid || formDataMitraExternal.get('address').invalid || formDataMitraExternal.get('country').invalid || !email || formDataMitraExternal.get('law_status').invalid" (click)="saveData()">
      <i class="fas fa-save mr-2" aria-hidden="true"></i>{{'ROOT.save' | translate}}
    </button>
  </div>
</app-ui-modal>

<app-ui-modal #modalEdit [containerClick]="false" [dialogClass]="'modal-dialog-centered modal-xl'" [loading]="loadingForm">
  <div class="app-modal-header">
    <h5 class="modal-title">{{'ROOT.form_edit_data_external_partner' | translate}}</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalEdit.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="formDataMitraExternal" class="md-float-material form-material" action="javascript:">
      <input type="hidden" class="form-control" formControlName="id" id="id" required>
      <div class="form-group">
        <label for="company_name">{{'ROOT.company_partner_name' | translate}} <b class="text-danger">*</b></label>
        <input type="text" class="form-control" formControlName="company_name" id="company_name" maxlength="100" placeholder="{{'ROOT.enter_company_partner_name' | translate}}" [ngClass]="formDataMitraExternal.controls.company_name.invalid && (formDataMitraExternal.controls.company_name.dirty || formDataMitraExternal.controls.company_name.touched) ? 'is-invalid' :(formDataMitraExternal.controls.company_name.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : formDataMitraExternal.controls.company_name.invalid && (formDataMitraExternal.controls.company_name.dirty || formDataMitraExternal.controls.company_name.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.company_partner_name' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
      <div class="form-group">
        <label for="contact">{{'ROOT.contact_name' | translate}} <b class="text-danger">*</b></label>
        <input type="text" class="form-control" formControlName="contact" id="contact" maxlength="100" onkeyup="this.value = this.value.split(/\s+/).map(s => s.charAt( 0 ).toUpperCase() + s.substring(1).toLowerCase()).join(' ')" placeholder="{{'ROOT.enter_contact_name' | translate}}" [ngClass]="formDataMitraExternal.controls.contact.invalid && (formDataMitraExternal.controls.contact.dirty || formDataMitraExternal.controls.contact.touched) ? 'is-invalid' :(formDataMitraExternal.controls.contact.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : formDataMitraExternal.controls.contact.invalid && (formDataMitraExternal.controls.contact.dirty || formDataMitraExternal.controls.contact.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.contact_name' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
      <div class="form-group">
        <label for="contact_position_name">{{'ROOT.contact_position_name' | translate}} <b class="text-danger">*</b></label>
        <input type="text" class="form-control" formControlName="contact_position_name" id="contact_position_name" maxlength="150" placeholder="{{'ROOT.enter_contact_position_name' | translate}}" [ngClass]="formDataMitraExternal.controls.contact_position_name.invalid && (formDataMitraExternal.controls.contact_position_name.dirty || formDataMitraExternal.controls.contact_position_name.touched) ? 'is-invalid' :(formDataMitraExternal.controls.contact_position_name.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : formDataMitraExternal.controls.contact_position_name.invalid && (formDataMitraExternal.controls.contact_position_name.dirty || formDataMitraExternal.controls.contact_position_name.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.contact_position_name' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
      <div class="form-group">
        <label for="address">{{'ROOT.address' | translate}} <b class="text-danger">*</b></label>
        <textarea class="form-control" formControlName="address" id="address" maxlength="255" placeholder="{{'ROOT.enter_address' | translate}}" [ngClass]="formDataMitraExternal.controls.address.invalid && (formDataMitraExternal.controls.address.dirty || formDataMitraExternal.controls.address.touched) ? 'is-invalid' :(formDataMitraExternal.controls.address.valid ? 'is-valid' : '')"></textarea>
        <label *ngIf="{'is-invalid' : formDataMitraExternal.controls.address.invalid && (formDataMitraExternal.controls.address.dirty || formDataMitraExternal.controls.address.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.address' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
      <div class="form-group">
        <label for="country">{{'ROOT.country' | translate}} <b class="text-danger">*</b></label>
        <div class="col-sm-14">
          <ng-select formControlName="country" id="country" [options]="listCountry" placeholder="--- {{'ROOT.select_option' | translate}} ---" filterPlaceholder="{{'ROOT.cari_disini' | translate}}" (selected)="getDataProvince()" required></ng-select>
        </div>
      </div>
      <div class="form-group" *ngIf="listProvince.length > 0">
        <label for="province">{{'ROOT.province' | translate}}</label>
        <div class="col-sm-14">
          <ng-select formControlName="province" id="province" [options]="listProvince" placeholder="--- {{'ROOT.select_option' | translate}} ---" filterPlaceholder="{{'ROOT.cari_disini' | translate}}" (selected)="getDataCity()" required></ng-select>
        </div>
      </div>
      <div class="form-group" *ngIf="listCity.length > 0">
        <label for="city">{{'ROOT.city' | translate}}</label>
        <div class="col-sm-14">
          <ng-select formControlName="city" id="city" [options]="listCity" placeholder="--- {{'ROOT.select_option' | translate}} ---" filterPlaceholder="{{'ROOT.cari_disini' | translate}}" required></ng-select>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">{{'ROOT.telephone_number' | translate}}</label>
        <input type="tel" class="form-control col-sm-5" formControlName="phone" id="phone" maxlength="15" placeholder="{{'ROOT.enter_telephone_number' | translate}}" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))" [ngClass]="(formDataMitraExternal.controls.phone.valid ? 'is-valid' : '')">
      </div>
      <div class="form-group">
        <label for="email">{{'ROOT.email' | translate}}</label>
        <input type="email" class="form-control col-sm-8" formControlName="email" id="email" (keyup)="checkEmail()" maxlength="100" placeholder="{{'ROOT.enter_email' | translate}}" [ngClass]="!email ? 'is-invalid' :(email && formDataMitraExternal.controls.email.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : !email}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.wrong_email_format' | translate}}</label>
      </div>
      <div class="form-group">
        <label for="law_status">{{'ROOT.company_type' | translate}} <b class="text-danger">*</b></label>
        <div class="col-sm-14">
          <ng-select formControlName="law_status" id="law_status" [options]="listDataLawStatus" placeholder="--- {{'ROOT.select_option' | translate}} ---" filterPlaceholder="{{'ROOT.cari_disini' | translate}}" required></ng-select>
          <small *ngIf="formDataMitraExternal.get('law_status').invalid && formDataMitraExternal.controls.law_status.touched" class="text-danger">{{'ROOT.company_type' | translate}} {{'ROOT.is_required' | translate}}</small>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="modalEdit.hide()">
      <i class="fas fa-undo mr-2" aria-hidden="true"></i>{{'ROOT.back' | translate}}
    </button>
    <button type="button" class="btn btn-warning" [disabled]="formDataMitraExternal.get('company_name').invalid || formDataMitraExternal.get('contact').invalid || formDataMitraExternal.get('contact_position_name').invalid || formDataMitraExternal.get('address').invalid || formDataMitraExternal.get('country').invalid || !email || formDataMitraExternal.get('law_status').invalid" (click)="editData()">
      <i class="fas fa-edit mr-2" aria-hidden="true"></i>{{'ROOT.edit' | translate}}
    </button>
  </div>
</app-ui-modal>