<div class="row">
  <div class="col-12">
    <app-card [hidHeader]="true" [options]="false" *ngIf="listData?.length != 0">
      <app-apex-chart chartID="bar-hor" [chartConfig]="chartConfig"></app-apex-chart>
    </app-card>
  </div>
</div>
<div class="row" id="auto-clicked">
  <div class="col-12">
    <app-card cardClass="card-datatable" headerClass="text-center text-md-left" [hidHeader]="true" [options]="false" [loading]="loadCard">
      <div class="table-responsive pb-1 p-2 page-bg">
        <table datatable [dtOptions]="dtOptions" class="table table-hover table-bordered display compact" [dtTrigger]="dtTrigger">
          <thead class="thead-light">
            <tr>
              <th></th>
              <th colspan="8" class="text-center">Kegiatan - Persentase dosen yang membina mahasiswa yang berhasil
                meraih prestasi paling rendah tingkat nasional dalam 5 (lima) tahun terakhir</th>
            </tr>
            <tr>
              <th width="10" rowspan="2">No.</th>
              <th rowspan="2">Program Studi</th>
              <th class="word-wrap text-center" rowspan="2">Jumlah Dosen Tetap</th>
              <th class="word-wrap text-center" rowspan="2">Jumlah Dosen Pembina</th>
              <th class="word-wrap text-center" rowspan="2">Jumlah Mahasiswa Berprestasi</th>
              <th class="word-wrap text-center" colspan="2">Jumlah Kerja Sama</th>
              <th class="word-wrap text-center" rowspan="2">Persentase Keberhasilan</th>
            </tr>
            <tr>
              <th class="word-wrap text-center">MoA</th>
              <th class="word-wrap text-center">IA</th>
            </tr>
          </thead>
          <tbody *ngIf="listData?.length != 0">
            <tr *ngFor="let data of listData; let i = index;">
              <th>{{i+1}}.</th>
              <td class="word-wrap">{{data.study_program}}</td>
              <td class="text-center">{{data.sum_permanent_lecturer}}</td>
              <td class="text-center">{{data.sum_supervisor_lecturer}}</td>
              <td class="text-center">{{data.sum_outstanding_student}}</td>
              <td class="text-center">{{data.moa_count}}</td>
              <td class="text-center">{{data.ia_count}}</td>
              <td class="text-center">{{data.success_percentage}}</td>
            </tr>
          </tbody>
          <tbody *ngIf="listData?.length == 0 && spinnerLoading">
            <tr>
              <td colspan="8" class="no-data-available text-center">
                <img src='assets/images/infinity-situ.svg'>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="listData?.length == 0 && !spinnerLoading">
            <tr>
              <td colspan="8" class="no-data-available text-center">
                <div class="col-12 text-center pt-3 pb-1">
                  <app-no-data-found></app-no-data-found>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>