<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="{{'ROOT.table_master_data_activity_code' | translate}}" cardClass="card-datatable" headerClass="text-center text-md-left" [hidHeader]="false" [options]="false" [loading]="loadTable">
      <app-alert type="warning">*{{'ROOT.make_sure_activity_code_is_active_when_you_want_to_edit_activity_code' | translate}}</app-alert>

      <div>
        <button type="button" class="btn btn-info" (click)="openFilter()" [disabled]="dataMasterKodeActivity?.length == 0 && spinnerLoading">
          <div *ngIf="!filter">
            <i class="fas fa-eye mr-2"></i>{{'ROOT.open_filter' | translate}}
          </div>
          <div *ngIf="filter">
            <i class="fas fa-eye-slash mr-2"></i>{{'ROOT.close_filter' | translate}}
          </div>
        </button>
        <form [formGroup]="formFilter" class="md-float-material form-material" action="javascript:" *ngIf="filter">
          <br>
          <div class="form-group row">
            <div class="col">
              <label for="field">{{'ROOT.scope' | translate}}</label>
              <input type="text" class="form-control" formControlName="field" id="field" [(ngModel)]="activityData.field" placeholder="{{'ROOT.enter_scope' | translate}}" required>
            </div>
            <div class="col">
              <label for="activity_scope">{{'ROOT.activity_scope' | translate}}</label>
              <input type="text" class="form-control" formControlName="activity_scope" id="activity_scope" [(ngModel)]="activityData.activity_scope" placeholder="{{'ROOT.enter_activity_scope' | translate}}" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label for="code">{{'ROOT.code' | translate}}</label>
              <input type="text" class="form-control col-sm-5" formControlName="code" id="code" [(ngModel)]="activityData.code" placeholder="{{'ROOT.enter_code' | translate}}" required>
            </div>
            <div class="col">
              <label for="status">{{'ROOT.status' | translate}}</label>
              <ng-select formControlName="status" id="status" [options]="listStatus" placeholder="--- {{'ROOT.select_option' | translate}} ---" filterPlaceholder="{{'ROOT.cari_disini' | translate}}" required></ng-select>
            </div>
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-warning mt-2 mr-2" (click)="filterData()" [disabled]="dataMasterKodeActivity?.length == 0 && spinnerLoading">
              <i class="fa fa-search mr-2"></i>{{'ROOT.filter' | translate}}
            </button>
            <button type="button" class="btn btn-danger mt-2 mr-2" (click)="cleanFilter()" [disabled]="dataMasterKodeActivity?.length == 0 && spinnerLoading">
              <i class="fas fa-eraser mr-2"></i>{{'ROOT.clean_filter' | translate}}
            </button>
          </div>
        </form>
      </div>

      <div class="float-right mt-3 mb-3">
        <button type="button" class="btn btn-success" (click)="openFormSave()" [disabled]="dataMasterKodeActivity?.length == 0 && spinnerLoading">
          <i class="fas fa-plus mr-2"></i>{{'ROOT.add_activity_code' | translate}}
        </button>
      </div>
      <div class="table-responsive pb-1">
        <table datatable [dtOptions]="dtOptions" class="table table-striped row-border table-hover display compact" [dtTrigger]="dtTrigger">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="pl-1" width="10">No.</th>
              <th scope="col" class="pl-1">{{'ROOT.scope' | translate}}</th>
              <th scope="col" class="pl-1">{{'ROOT.activity_scope' | translate}}</th>
              <th scope="col" class="pl-1">{{'ROOT.code' | translate}}</th>
              <th scope="col" class="pl-1">{{'ROOT.status' | translate}}</th>
              <th scope="col" class="pl-1">{{'ROOT.action' | translate}}</th>
            </tr>
          </thead>
          <tbody *ngIf="dataMasterKodeActivity?.length != 0">
            <tr [ngClass]="{'table-danger' : item.deleted_at}" *ngFor="let item of dataMasterKodeActivity; let i = index;">
              <th>{{i+1}}.</th>
              <td class="word-wrap">{{item.field}}</td>
              <td class="word-wrap">{{item.activity_scope}}</td>
              <td class="word-wrap">{{item.code}}</td>
              <td class="word-wrap">
                <label class="badge badge-success" *ngIf="!item.deleted_at">
                  {{'ROOT.aktif' | translate}}
                </label>
                <label class="badge badge-danger" *ngIf="item.deleted_at">
                  {{'ROOT.nonaktif' | translate}}
                </label>
              </td>
              <td>
                <button title="{{'ROOT.Edit_Kode_Kegiatan' | translate}}" (click)="openFormEdit(item)" class="btn btn-icon btn-rounded btn-outline-warning mr-1" *ngIf="!item.deleted_at">
                  <i class="fas fa-edit"></i>
                </button>
                <button title="{{'ROOT.Aktifkan_Kode_Kegiatan' | translate}}" (click)="activateProcessOwner(item.id, item.field, item.code)" class="btn btn-icon btn-rounded btn-outline-success" *ngIf="!item.is_used && item.deleted_at">
                  <i class="fas fa-check"></i>
                </button>
                <button title="{{'ROOT.Non_Aktifkan_Kode_Kegiatan' | translate}}" (click)="deleteProcessOwner(item.id, item.field, item.code)" class="btn btn-icon btn-rounded btn-outline-danger" *ngIf="!item.is_used && !item.deleted_at">
                  <i class="fas fa-ban"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="dataMasterKodeActivity?.length == 0 && spinnerLoading">
            <tr>
              <td colspan="6" class="no-data-available text-center">
                <img src='assets/images/infinity-situ.svg'>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>

<app-ui-modal #modalTambah [containerClick]="false" [dialogClass]="'modal-dialog-centered modal-xl'" [loading]="loadingForm">
  <div class="app-modal-header">
    <h5 class="modal-title">{{'ROOT.form_add_data_activity_code' | translate}}</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalTambah.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="formDataKodeActivity" class="md-float-material form-material" action="javascript:">
      <div class="form-group">
        <label for="field">{{'ROOT.scope' | translate}} <b class="text-danger">*</b></label>
        <input type="text" class="form-control" formControlName="field" id="field" [(ngModel)]="activityData.field" maxlength="50" placeholder="{{'ROOT.enter_scope' | translate}}" [ngClass]="formDataKodeActivity.controls.field.invalid && (formDataKodeActivity.controls.field.dirty || formDataKodeActivity.controls.field.touched) ? 'is-invalid' :(formDataKodeActivity.controls.field.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : formDataKodeActivity.controls.field.invalid && (formDataKodeActivity.controls.field.dirty || formDataKodeActivity.controls.field.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.scope' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
      <div class="form-group">
        <label for="activity_scope">{{'ROOT.activity_scope' | translate}} <b class="text-danger">*</b></label>
        <input type="text" class="form-control" formControlName="activity_scope" id="activity_scope" [(ngModel)]="activityData.activity_scope" maxlength="50" placeholder="{{'ROOT.enter_activity_scope' | translate}}" [ngClass]="formDataKodeActivity.controls.activity_scope.invalid && (formDataKodeActivity.controls.activity_scope.dirty || formDataKodeActivity.controls.activity_scope.touched) ? 'is-invalid' :(formDataKodeActivity.controls.activity_scope.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : formDataKodeActivity.controls.activity_scope.invalid && (formDataKodeActivity.controls.activity_scope.dirty || formDataKodeActivity.controls.activity_scope.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.activity_scope' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
      <div class="form-group">
        <label for="code">{{'ROOT.code' | translate}} <b class="text-danger">*</b></label>
        <input type="text" class="form-control col-sm-5" formControlName="code" id="code" [(ngModel)]="activityData.code" maxlength="10" placeholder="{{'ROOT.enter_code' | translate}}" [ngClass]="formDataKodeActivity.controls.code.invalid && (formDataKodeActivity.controls.code.dirty || formDataKodeActivity.controls.code.touched) ? 'is-invalid' :(formDataKodeActivity.controls.code.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : formDataKodeActivity.controls.code.invalid && (formDataKodeActivity.controls.code.dirty || formDataKodeActivity.controls.code.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.code' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="modalTambah.hide()">
      <i class="fas fa-undo mr-2" aria-hidden="true"></i>{{'ROOT.back' | translate}}
    </button>
    <button type="button" class="btn btn-success" [disabled]="formDataKodeActivity.get('field').invalid || formDataKodeActivity.get('activity_scope').invalid || formDataKodeActivity.get('code').invalid" (click)="saveData()">
      <i class="fas fa-save mr-2" aria-hidden="true"></i>{{'ROOT.save' | translate}}
    </button>
  </div>
</app-ui-modal>

<app-ui-modal #modalEdit [containerClick]="false" [dialogClass]="'modal-dialog-centered modal-xl'" [loading]="loadingForm">
  <div class="app-modal-header">
    <h5 class="modal-title">{{'ROOT.form_edit_data_activity_code' | translate}}</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalEdit.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="formDataKodeActivity" class="md-float-material form-material" action="javascript:">
      <input type="hidden" class="form-control" formControlName="id" id="id" required>
      <div class="form-group">
        <label for="field">{{'ROOT.scope' | translate}} <b class="text-danger">*</b></label>
        <input type="text" class="form-control" formControlName="field" id="field" [(ngModel)]="activityData.field" maxlength="50" placeholder="{{'ROOT.enter_scope' | translate}}" [ngClass]="formDataKodeActivity.controls.field.invalid && (formDataKodeActivity.controls.field.dirty || formDataKodeActivity.controls.field.touched) ? 'is-invalid' :(formDataKodeActivity.controls.field.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : formDataKodeActivity.controls.field.invalid && (formDataKodeActivity.controls.field.dirty || formDataKodeActivity.controls.field.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.scope' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
      <div class="form-group">
        <label for="activity_scope">{{'ROOT.activity_scope' | translate}} <b class="text-danger">*</b></label>
        <input type="text" class="form-control" formControlName="activity_scope" id="activity_scope" [(ngModel)]="activityData.activity_scope" maxlength="50" placeholder="{{'ROOT.enter_activity_scope' | translate}}" [ngClass]="formDataKodeActivity.controls.activity_scope.invalid && (formDataKodeActivity.controls.activity_scope.dirty || formDataKodeActivity.controls.activity_scope.touched) ? 'is-invalid' :(formDataKodeActivity.controls.activity_scope.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : formDataKodeActivity.controls.activity_scope.invalid && (formDataKodeActivity.controls.activity_scope.dirty || formDataKodeActivity.controls.activity_scope.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.activity_scope' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
      <div class="form-group">
        <label for="code">{{'ROOT.code' | translate}} <b class="text-danger">*</b></label>
        <input type="text" class="form-control col-sm-5" formControlName="code" id="code" [(ngModel)]="activityData.code" maxlength="10" placeholder="{{'ROOT.enter_code' | translate}}" [ngClass]="formDataKodeActivity.controls.code.invalid && (formDataKodeActivity.controls.code.dirty || formDataKodeActivity.controls.code.touched) ? 'is-invalid' :(formDataKodeActivity.controls.code.valid ? 'is-valid' : '')">
        <label *ngIf="{'is-invalid' : formDataKodeActivity.controls.code.invalid && (formDataKodeActivity.controls.code.dirty || formDataKodeActivity.controls.code.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">{{'ROOT.code' | translate}} {{'ROOT.is_required' | translate}}</label>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="modalEdit.hide()">
      <i class="fas fa-undo mr-2" aria-hidden="true"></i>{{'ROOT.back' | translate}}
    </button>
    <button type="button" class="btn btn-warning" [disabled]="formDataKodeActivity.get('field').invalid || formDataKodeActivity.get('activity_scope').invalid || formDataKodeActivity.get('code').invalid" (click)="saveEditData()">
      <i class="fas fa-edit mr-2" aria-hidden="true"></i>{{'ROOT.edit' | translate}}
    </button>
  </div>
</app-ui-modal>